<!DOCTYPE html>
<html>
<head>
    <title>route-details - map components</title>
    <link href="../assets/examples.css" rel="stylesheet">
    <script type="module" src="../../src/mapui/example.js"></script>
    <script type="module" src="../../src/dev/demo-router.js"></script>
    <script type="module" src="../../src/mc/ui/route-selector.js"></script>
    <script type="module" src="../../src/mc/ui/route-details.js"></script>
    <link rel="mc-icons" name="mc" href="../../assets/icons/route-icons.svg">  <!-- mc-icons -->
</head>
<body>
    <h3>RouteDetails - map-components</h3>

    <demo-router role="route-source"
        name="demo"
        base="../assets/responses/here-transit-"
        start="A"
        dest="B"
        time="2019-01-09T05:15:07">
    </demo-router>

    <maps-example style="float:right; width:38%; margin-left:0">
        <route-details></route-details>
    </maps-example>

    <maps-example style="width:38%; margin-right:0">
        <route-selector toggle></route-selector>
    </maps-example>
</body>
</html>
