<!DOCTYPE html>
<html>
<head>
    <title>route-selector - map components</title>
    <script type="text/javascript" src="../credentials.js"></script>
    <script type="module" src="../../src/maps/example.js"></script>
    <script type="module" src="../../src/here/transit-router.js"></script>
    <script type="module" src="../../src/maps/route-selector.js"></script>
    <style>
        body {
            font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
        }
    </style>
</head>
<body>
    <h3>RouteSelector - map-components</h3>
    <maps-example>
        <here-transit-router app-id="${HERE_APP_ID}" app-code="${HERE_APP_CODE}"
            name="here/transit"
            start="13.31709,52.54441"
            dest="13.56,52.41"
            time="2019-01-22T19:17:07">
        </here-transit-router>
        <route-selector router="here-transit-router"></route-selector>
        <script>
            document.querySelector("route-selector")
                .addEventListener("selected", (ev) => {
                    console.log("selected:", ev.detail);
                });
            document.querySelector("route-selector")
                .addEventListener("unselected", (ev) => {
                    console.log("unselected:", ev.detail);
                });
        </script>
    </maps-example>
</body>
</html>
