<!DOCTYPE html>
<html>
<head>
    <title>route-inputs - map components</title>
    <link href="../assets/examples.css" rel="stylesheet">
    <script type="text/javascript" src="../credentials.js"></script>
    <script type="module" src="../../src/mc/ui/html-demo.js"></script>
    <script type="module" src="../../src/dev/demo-router.js"></script>
    <script type="module" src="../../src/vendor-here/router.js"></script>
    <script type="module" src="../../src/vendor-here/transit-router.js"></script>
    <script type="module" src="../../src/vendor-here/platform.js"></script>
    <script type="module" src="../../src/vendor-here/map.js"></script>
    <script type="module" src="../../src/vendor-here/map-route-picker.js"></script>
    <script type="module" src="../../src/vendor-here/map-routes.js"></script>

    <script type="module">
import { html, render, repeat } from '../../src/map/lit-html.js';
import { Address, Stop } from '../../src/generics.js';
import { RouteObserver } from '../../src/mc/mixins.js';


class RouteInputs extends RouteObserver(HTMLElement) {
    constructor() {
        super();

        this.attachShadow({mode: 'open'});

        render(this.render(), this.shadowRoot);

        this._startInput = this.shadowRoot.querySelector('#start');
        this._destInput = this.shadowRoot.querySelector('#dest');

        this._geoSource = document.querySelector('[role="geo-source"]');

        this._startInput.addEventListener('change', ev => {
//            this.getRouter().then(router => {
            this.routeSource.requestStopsByName(this._startInput.value, this._destLoc || this._startLoc || {lat:52.5,lng:13.5})
                    .then(response => {
                            this._startLoc = response.stops[0];
                            this._startInput.value = this._startLoc.title;
                            this.routeSource.updateRoute({start: this._startLoc, dest: this._destLoc});
                        })
                    ;
                })
//            });
        this._destInput.addEventListener('change', ev => {
//            this.getRouter().then(router => {
            this.routeSource.requestStopsByName(this._destInput.value, this._startLoc || this._destLoc || {lat:52.5,lng:13.5})
                    .then(response => {
                            this._destLoc = response.stops[0];
                            this._destInput.value = this._destLoc.title;
                            this.routeSource.updateRoute({start: this._startLoc, dest: this._destLoc});
                        })
                    ;
                });
//            });
    }

    onRouteRequest(request) {
        this._startLoc = Address.enforce(request.start);
        this._destLoc = Address.enforce(request.dest);
        this._startInput.value = this._startLoc.title;
        this._destInput.value = this._destLoc.title;
    }

    onRouteResponse(response) {
        if (!response.error) {
            let route = response.routes[0];
            this._startLoc = route.departure;
            this._destLoc = route.arrival;
            this._startInput.value = this._startLoc.title;
            this._destInput.value = this._destLoc.title;

            // georeverse if needed
            if (!(this._startLoc instanceof Stop)) {
                this._geoSource.resolveAddress(this._startLoc).then(address => {
                    this._startLoc = address;
                    this._startInput.value = this._startLoc.title;
                });
            }
            if (!(this._destLoc instanceof Stop)) {
                this._geoSource.resolveAddress(this._destLoc).then(address => {
                    this._destLoc = address;
                    this._destInput.value = this._destLoc.title;
                });
            }
        }
    }

    render() {
        return html`
            <style>
                :host {
                    display: block;
                    line-height: 1.5;
                }
                input {
                    height: calc(1.5em + .75rem + 2px);
                    padding: .175rem .55rem;
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                    font-size: 1em;
                }
            </style>

            <div>
                <div><input id="start"></div>
                <div><input id="dest"></div>
            </div>
        `;
    }

}

customElements.define('route-inputs', RouteInputs);

    </script>

</head>
<body>
    <h3>RouteInput - map-components</h3>

    <here-platform app-id="${HERE_APP_ID}" app-code="${HERE_APP_CODE}"></here-platform>

    <here-router role="geo-source"></here-router>

    <here-transit-router role="route-source"
                    start="13.31709,52.54441"
                    dest="13.46,52.51"></here-transit-router>

    <html-demo>
        <route-inputs></route-inputs>
        <here-map center="13.5,52.5" zoom="11" view-padding="10 210 10 10">
            <here-map-route-picker router="here-transit-router"></here-map-route-picker>
            <here-map-routes route-source="here-transit-router"></here-map-routes>
        </here-map>
    </html-demo>


    <script>
        setTimeout(_ => {
            let map = document.querySelector('here-map')._map;
            map.addEventListener('mapviewchange', ev => {
                console.log("> map", ev.target.getZoom());
            });
        }, 1000);
    </script>


</body>
</html>
