<!DOCTYPE html>
<html>
<head>
    <title>route-details - map components</title>
    <script type="text/javascript" src="../credentials.js"></script>
    <script type="module" src="../../src/maps/example.js"></script>
    <script type="module" src="../../src/route-link.js"></script>

    <script type="module" src="../../src/dev/mockup-router.js"></script>

    <script type="module" src="../../src/here/transit-router.js"></script>

    <script type="module" src="../../src/google/platform.js"></script>
    <script type="module" src="../../src/google/router.js"></script>

    <script type="module" src="../../src/maps/route-selector.js"></script>
    <script type="module" src="../../src/maps/route-details.js"></script>
    <script type="module" src="../../src/union-router.js"></script>
    <style>
        body {
            font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
        }
    </style>
</head>
<body>
    <h3>RouteDetails - map-components</h3>

    <here-platform app-id="${HERE_APP_ID}" app-code="${HERE_APP_CODE}"></here-platform>
    <google-platform key="${GOOGLE_KEY}"></google-platform>

    <here-transit-router id="transit-router"
        name="here/transit"
        app-id="${HERE_APP_ID}"
        app-code="${HERE_APP_CODE}">
    </here-transit-router>

    <google-router id="car-router" platform="google-platform" mode="DRIVING" name="google/car"></google-router>
    <google-router id="walk-router" platform="google-platform" mode="WALKING" name="google/walk"></google-router>

    <union-router id="union-router" routers="#transit-router,#car-router,#wa_lk-router">
    </union-router>

    <mockup-router id="router"
        fallback-router="#union-router"
        name="mockup"
        src="../responses/here-transit-{start}-{dest}.json"
        start="A"
        dest="B"
        time="2019-01-09T05:15:07">
    </mockup-router>

    <route-link router="#router" start="A" dest="B">Berlin:A-B</route-link>
    <route-link router="#router" start="13.447128295898438,52.512864781394114,foo" dest="13.383270263671875,52.46101698509508,bar">route2</route-link>
    <route-link router="#router" start="BERLIN" dest="HALLE">Berlin-Halle</route-link>
    <route-link router="#router" start="UTRECHT" dest="DORDRECHT">Belgium:Utrecht-Dordrecht</route-link>
    <route-link router="#router" start="LONDON_A" dest="LONDON_B">London:A-B</route-link>

    <maps-example style="float:right; width:38%; margin-left:0">
        <route-details router="#router"></route-details>
    </maps-example>

    <maps-example style="width:38%; margin-right:0">
        <route-selector router="#router"></route-selector>
        <script>
            let selector = document.querySelector("route-selector");
            let details = document.querySelector("route-details");
            selector.addEventListener("selected", (ev) => details.showRoute(ev.detail));
            selector.addEventListener("unselected", (ev) => details.clear());
        </script>
    </maps-example>

</body>
</html>
