<!DOCTYPE html>
<html>
<head>
    <title>route-selector - map components</title>
    <link href="../assets/examples.css" rel="stylesheet">
    <script type="text/javascript" src="../credentials.js"></script>
    <script type="module" src="../../src/mapui/example.js"></script>
    <script type="module" src="../../src/dev/demo-router.js"></script>
    <script type="module" src="../../src/mapui/route-selector.js"></script>
    <style>
        body {
            font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
        }
        route-selector {
            max-height: 200px;
            transition: max-height 3s ease;
        }
    </style>
</head>
<body>
    <h3>RouteSelector - map-components</h3>

    <maps-example>
        <demo-router role="route-source" show-routes
            base="../assets/responses/here-transit-"
            start="A"
            dest="B">
        </demo-router>
        <route-selector toggle></route-selector>
    </maps-example>
</body>
</html>
