<!DOCTYPE html>
<html>
<head>
    <title>route-selector - map components</title>
    <script type="module">
        import '@proddi/x-icons/x-iconset-svg.js';
    </script>

    <link href="../assets/examples.css" rel="stylesheet">
    <script type="text/javascript" src="../credentials.js"></script>
    <script type="module" src="../../src/mc/ui/html-demo.js"></script>
    <script type="module" src="../../src/dev/demo-router.js"></script>
    <script type="module" src="../../src/mc/ui/route-selector.js"></script>
    <script type="module" src="../../src/mc/ui/route-details.js"></script>

    <x-iconset-svg name="mc" icon-size="24" href="../../assets/icons/transit-icons.svg"></x-iconset-svg>
    <x-iconset-svg name="maneuvers" icon-size="24" href="../../assets/icons/route-nav-icons.svg"></x-iconset-svg>
    <x-iconset-svg name="mc1" icon-size="48" href="../../assets/icons/transit-icons-colored.svg"></x-iconset-svg>
    <x-iconset-svg name="mc1" href="../../assets/icons/transit-icons-color-asset.svg"></x-iconset-svg>
    <style>
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        .row > * {
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
            margin: 0 1em;
        }
        .row > *:first-child {
            margin-left: 2em;
        }
        .row > *:last-child {
            margin-right: 2em;
        }
    </style>
</head>
<body>
    <h3>RouteSelector - map-components</h3>

    <demo-router role="route-source" show-routes
        base="../assets/responses/here-transit-"
        start="A"
        dest="B">
    </demo-router>

    <div class="row">
        <html-demo>
            <route-selector toggle></route-selector>
        </html-demo>

        <html-demo>
            <route-details></route-details>
        </html-demo>
    </div>

    <script>
        const router = document.querySelector('demo-router');
        router.addEventListener('route-response', ev => {
            const route = ev.detail.response.routes[0];
            router.selectRoute(route);
        });
    </script>
</body>
</html>
